<header class="header" role="banner">
	<div class="header__logo">
		{{ view.title }}
	</div>
	<nav role="navigation" class="header__menu header-menu">
		<ul class="header-menu__items">
			<li class="header-menu__item">
				<a class="header-menu__link" href="/profile">
					Profile
				</a>
			</li>
			<ng-container *ngIf="view.isLoggedIn | async as isLoggedIn; else login">
				<li class="header-menu__item">
					<a class="header-menu__link" href="/logout">
						Logout
					</a>
				</li>
			</ng-container>
		</ul>
	</nav>
</header>
<main class="main">
<router-outlet></router-outlet>
</main>
<ng-template #login >
	<li class="header-menu__item">
		<a class="header-menu__link" href="/register">
			Register
		</a>
	</li>
	<li class="header-menu__item">
		<a class="header-menu__link" href="/login">
			Login
		</a>
	</li>
</ng-template>