.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: black;
	color: white;
}

.header__logo {
	padding: 1rem;
}

.header-menu__items {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.header-menu__item {
	margin: 0 1rem;
}

.header-menu__link {
	display: inline-block;
	padding: 0 1rem;
	color: white;
}

.main {
	padding: 1rem 2rem;
}