/* You can add global styles to this file, and also import other style files */
html {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}